# =============================
# Fichiers IntelliJ IDEA
# =============================
.idea/
*.iml
*.iws
out/

# =============================
# Fichiers Java / compilation
# =============================
*.class
*.jar
*.war
*.ear

# =============================
# Dossiers de build Maven / Gradle
# =============================
/target/
/build/

# =============================
# Logs
# =============================
*.log

# =============================
# Fichiers systèmes
# =============================
.DS_Store
Thumbs.db

# =============================
# Fichiers Spring Boot
# =============================
spring-boot-devtools.properties

# =============================
# Configs locales
# =============================
*.env
*.local
